main {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 2rem;
  padding-top: var(--nav-height);
  display: flex;
  flex-direction: column;
  gap: 8rem;
  /* Creates nice spacing between sections */
  overflow: hidden;
}

@media (max-width: 768px) {
  main {
    padding: 0 1rem;
    padding-top: var(--nav-height);
    gap: 5rem;
  }
}